In [5]:
# start up
import pandas as pd
from pathlib import Path

In [36]:
# File to Load (Remember to Change These)
schools_comp = Path("Resources/schools_complete.csv")
students_comp = Path("Resources/students_complete.csv")

# assign variables to both csv files
school_comp = pd.read_csv(schools_comp)
student_comp = pd.read_csv(students_comp)

# merge the data from both csv files
school_data = pd.merge(student_comp, school_comp, how="left", on=["school_name", "school_name"])
school_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

District Summary

In [16]:
school_data["school_name"].nunique()

15

In [17]:
school_data["student_name"].nunique()

32715

In [39]:
budgets = school_data["budget"].value_counts()
total_budget = sum(budgets)
total_budget

39170